.grid {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
      "content sideBar"
    ;
    grid-gap: 1rem;
    margin-top: 30px;
    
  }
  .content{
    grid-area: content;
    background-color: burlywood;
  }
  .sideBar{
    grid-area: sideBar;
    background-color: rgb(108, 106, 103);
  }